[FORMAT]
  good-names=i,j,ex,pk
  max-line-length=120

[MESSAGES CONTROL]
  disable=broad-except,imported-auth-user,missing-class-docstring,abstract-method,C0116,R0801

[MASTER]
  load-plugins=pylint_django
  django-settings-module=calculatorproject.settings
  ignore-paths=.*/migrations/.*
  disable=C0114,

